/*css variables*/
:root {
    --body-bg-color: #ffffff;
    --green: #f7f7f7;
    --light-green: #eeeeee;
    --light-grey: #dce4e3;
    --text-color: #084236;
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    border: none;
    outline: none;
    background: none; 
    cursor: pointer;
}

input {
    border: none; 
    outline: none;
    background: none; 
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/*body*/
body {
    background-color: var(--body-bg-color);
    color: var(--text-color); 
    width: 100vw; 
    height: auto; 
    font-family: 'Poppins', sans-serif;
    position: relative;
}


/*navbar*/
.navbar {
    z-index: 2;
    width: 80px;
    max-width: 4rem;
    background-color: var(--green);
    height: 100vh; 
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease;
}


.navbar .navbar-container {
    padding: 1rem; 
}

/*logo*/
.navbar .navbar-container .navbar-logo-div {    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.7rem;
    /* padding-left: 1rem; */
}

.navbar .navbar-container .navbar-logo-div .navbar-toggler {
    transition: .2s ease-in-out;
}

.navbar .navbar-container .navbar-logo-div .navbar-toggler:hover {
    color: #00659FFF;
    opacity: .7; 
}

.navbar .navbar-container .navbar-logo-div .navbar-logo-link {
    display: none; 
}

/*search*/
.navbar .navbar-search {
    width: 100%;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-color: var(--light-green);
    background-position: center;
    
    margin: 0 auto; 
    /* background-position: 1rem 0.7rem; */
    padding: 1rem;
    /* padding-left: 3rem; */
    border-radius: 10px; 
    margin-bottom: 1.2rem; 

}

.navbar .navbar-search::placeholder { 
    visibility: hidden;  
    opacity: 0;
}

/*menu list*/
.navbar .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.navbar .menu-list .menu-item {    
    width: 100%;
}


.navbar .menu-list .menu-item  .menu-link{    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem; 
    transition: 0.3s ease-in-out; 
    font-weight: 500;
}

.navbar .menu-list .menu-item .menu-link  .menu-icon{
    display: block;
}

.navbar .menu-list .menu-item  .menu-link .menu-link-text{   
    display: none;
    color: inherit; 
}

.navbar .menu-list .menu-item  .menu-link:hover,
.navbar .menu-list .menu-item  .menu-link:hover
{
    opacity: .7;
    color: #00659FFF;
}

/*user information div*/
.navbar .user-container {
    background-color: var(--light-green); 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.navbar .user-container .user-info {
    display: flex;
    gap: 0.4rem;
    display: none;
}

.navbar .user-container .user-info .user-img {
    max-width: 50px;
    height: auto; 
    max-height: 50px;
    /* max-width: 70px; */
    border-radius: 5px;
    height: auto; 
}

.navbar .user-container .user-info .user-details .user-name {
    font-size: 1.1rem;
    font-weight: light;
}

.navbar .user-container .user-info .user-details .user-occupation {
    font-size: 0.9rem;
    font-weight: lighter;
}



/*navbar.active*/
/*navbar.active navbar*/
.navbar.active
 {
    width: 500px; 
    max-width: 20%; 
    background-color:rgba(3, 129, 140,0.1);
    
}
.actives{
    padding-left: 220px;
    padding-right: 20px;    
    
}

/*navbar.active logo*/
.navbar.active .navbar-container .navbar-logo-div {  
    justify-content: space-between;
    padding-left: 1rem; 
}

.navbar.active .navbar-container .navbar-logo-div .navbar-logo-link {
    display: block; 
}

/*navbar.active search input*/
.navbar.active .navbar-search {
    background-position: 1rem 0.7rem;
    padding: 1rem;
    padding-left: 3rem;
}

.navbar.active .navbar-search::placeholder { 
    visibility: visible;  
    opacity: 1;
}

/*navbar.active menu*/
.navbar.active .menu-list { 
    padding-left: 1rem;
}

.navbar.active .menu-list .menu-item  .menu-link {
    justify-content: flex-start;
}

.navbar.active .menu-list .menu-item  .menu-link .menu-link-text{   
    display: inline;
}

/*navbar.active user container*/
.navbar.active .user-container {
    justify-content: space-between;
    align-items: center;
}

.navbar.active .user-container .user-info {
    display: flex; 
}


/*dashboard*/
.dashboard { 
    width: auto;
    height: auto; 
    margin-left: 4rem;
}

.navbar.active + .dashboard {
    margin-left: 22%; 
}



/*media queries*/
@media only screen and (max-width: 870px) {
    .navbar.active {
        max-width: 27%; 
    }

    .navbar.active + .dashboard { 
        margin-left: 30%;
    }
} 

@media only screen and (max-width: 670px) { 
    .navbar.active { 
        min-width: 100%;        
    }

    .navbar .navbar-container {
        position: relative;
        width: 100%;
    }

    .navbar .navbar-search { 
        position: absolute;
        border-radius: 0;
        left: 0;
    }

    .navbar .menu-item {
        position: relative;
        top: 4rem;
    }
}
.title{
 
        position: absolute;
        font-family: Lexend;
        font-size: 28px;
        line-height: 42px;
        font-weight: 700;
        color: #000000FF;
        padding:20px;
        margin:10px 20px;
        
}
@media only screen and (max-width: 350px) { 
    .dashboard .title {
        font-size: 1.7rem;
    }
}  